.booking {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.booking__item {
  max-width: 1035px;
  margin: 0 auto;
}

.booking__content {
  padding: 20px 35px 35px 35px;
  border-radius: 5px;
  border: 2px solid rgba(183, 183, 183, 0.3);
}

.booking__logo {
  margin-bottom: 25px;
}

.booking__status {
  display: inline-block;
  margin-top: 25px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
  padding: 4px 10px;
}

.booking__status.waiting-payment {
  background-color: rgba(236, 122, 122, 0.2);
  color: rgba(236, 122, 122, 1);  
}

.booking__status.waiting-approve {
  background-color: rgba(255, 153, 0, 0.2);
  color: rgba(255, 153, 0, 1);  
}

.booking__status.approve {
  background-color: rgba(60, 247, 30, 0.2);
  color: rgba(11, 220, 95, 1);  
}

.booking__section {
  display: flex;
}

.booking__section__sub h3 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 7px;
}

.booking__section__sub p {
  font-size: 16px;
  font-weight: 500;
}

.booking__content div:first-child > div {
  max-width: 280px;
}

.booking__info {
  margin-left: 85px;
  margin-right: 110px;
  margin-top: 105px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 25px;
}

.booking__info h4 {
  font-size: 17px;
  font-weight: 800;
}

.booking__info p {
  font-size: 14px;
  color: rgba(149, 149, 149, 1);
  font-weight: 400;
}

.booking__table__container {  
  margin-left: -35px;
  margin-right: -35px;
}

.booking__table {
  width: 100%;
  font-size: 17px;
  margin-top: 40px;
}

.booking__table tr {
  border-bottom: 2px solid rgba(183, 183, 183, 0.3);
}

.booking__table th,
.booking__table td {
  padding: 5px 50px 5px 35px;
}

.booking__table td {
  line-height: 1;
  font-weight: 500;
  color: rgba(149, 149, 149, 1);
}

.booking__payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking__payment h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 5px;
}

.booking__payment img {
  display: block;
  border: 3px solid black;
}

.booking__payment p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgba(149, 149, 149, 1);
}

.booking__cta {
  display: flex;
  justify-content: flex-end;
  max-width: 1035px;
  margin: 0 auto;
  margin-top: 20px;
}

.booking__cta button {
  padding: 12px 90px;
  font-weight: 900;
  font-size: 18px;
  background-color: rgba(90, 87, 171, 1);
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}